# Ignore everything by default
*

# Except Tree folder and its content
!Tree/
!Tree/**

# Eclipse project files
.settings/
*.prefs
.project
.classpath

# Compiled binaries
bin/
*.class

# OS-specific files
.DS_Store
Thumbs.db

# Other common Java ignores
*.log
*.jar
*.war
*.ear
